html {
	background-color: hsl(165, 86%, 55%);
	padding: 0px;
}
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.left {
	background-color: hsl(205, 68%, 59%);
	width: 33%;
	height: 100%;
	float: left;
}

.right {
	background-color: hsl(127, 88%, 68%);
	width: 33%;
	height: 100%;
	float: right;
}

.image {
	background-color: red;
	color: white;
	text-align: center;
	width: 100%;
	line-height: 800%;
	margin-top: 500px;
}






